@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

main {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    align-self: center;
    background-color: #fff;
    th {
        text-align: left;
        padding-left: 10px;
        padding-right: 100px;
    }
}

table, tr, td {
    border: none;
    border-collapse: collapse;
    font-family: Roboto, sans-serif;
}

